            /*   HEADER   */


.header nav h1 {
    float:none;
    text-align: center;
}

.header nav ul {
    float: none;
}

.header nav ul li {
    float: none;
}

.header nav ul li a{
    padding: 10px;
    text-align: center;
}


            /*   SECTION VP    */

.vp-content {
    padding-top: 50px;
}

.vp-content h1 {
    font-size: 2rem;
}

.btn {
    margin-top: 3rem;
}


                /* SECTION FEATURES */

.features {
    padding: 2rem;
}

.feature {
    float: none;
    width: 100%;
    margin-top: 1.5rem;
}


                /*  RESERVATION */

.reservation {
    padding: 2rem;
}




                /*PAGE NOUS TROUVER*/
.where {
    padding: 4rem 1rem 0 1rem;
}

.where-image {
    float: none;
    width: 100%;
    margin-bottom: 2rem;
}

.where-text {
    float: none;
    width:100%;
    text-align: center;
}


            /*PAGE NOUS CONTACTER*/

.contact {
    padding: 5rem 1.5rem 0;
    min-height: 100vh;
}

.contact-form-container {
    display: block;
    max-width:600px;
    margin: auto;
}